.fin_credit {
    position: absolute;
    background-image: url("/screens/img/Credits.png");
    display: flex;
    justify-content: center;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    
}  