.background__niv1 {
    background-image: url('/screens/img/background1.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
  }

  .background__frame {

    position: relative;
    background-color: white;
    opacity: 0.2;
    position: absolute;
    width: 369px;
    height: 750px;
    left: 1085px;
    top: 0px;
  }

  .background__title {
    position: relative;
    background-image: url('/screens/img/title.png');
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    width: 316px;
    height: 40px;
    left: 1110px;
    top: 72px;
  }

  .background__profile {
    position: absolute;
    width: 162px;
    height: 163px;
    left: 1185px;
    top: 246px;
    border: 3px solid black;
  }

 .name {
   position: relative;
   width: 42px;
   height: 22px;
   left: 1250px;
   top: 429px;
 }

 .gameplay__heart {
   background-image: url('/screens/img/heart.png');
   position: absolute;
   width: 32px;
   height: 30px;
   left: 1250px;
   top: 475px;

 }

 .gameplay__heart2 {
  background-image: url('/screens/img/heart.png');
  position: absolute;
  width: 32px;
  height: 30px;
  left: 1200px;
  top: 475px;
 }

 .gameplay__heart3 {
  background-image: url('/screens/img/heart.png');
  position: absolute;
  width: 32px;
  height: 30px;
  left: 1300px;
  top: 475px;
 }

 .son{
   background-image: url('/screens/img/son.png');
   position: absolute;
   width: 42px;
   height: 42px;
   left: 1175px;
   top: 676px;
 
 }

 .help{
  background-image: url('/screens/img/aide.png');
  position: absolute;
  width: 42px;
  height: 42px;
  left: 1225px;
  top: 676px;
 
 }

 .pause{
  background-image: url('/screens/img/pause.png');
  position: absolute;
  width: 42px;
  height: 42px;
  left: 1275px;
  top: 676px;
 }

 .return{
  background-image: url('/screens/img/home.png');
  position: absolute;
  width: 42px;
  height: 42px;
  left: 1325px;
  top: 676px;
 }

 @mixin place__card($left:0, $top: 0) {
  background-image: url('/screens/img/Carte.png');
  position: absolute;
  width: 100px;
  height: 136px;
  left: $left;
  top: $top;

 }

 .gameplay__card0 {
   @include place__card($top: 79px, $left: 134px)
 }
 .gameplay__card1 {
  @include place__card($top: 79px, $left: 338px)

 }
 .gameplay__card2 {
  @include place__card($top: 79px, $left: 542px)

 }
 .gameplay__card3 {
  @include place__card($top: 79px, $left: 746px)

 }
 .gameplay__card4 {
  @include place__card($top: 231px, $left: 134px)

 }
 .gameplay__card5 {
  @include place__card($top: 231px, $left: 338px)

 }
 .gameplay__card6 {
  @include place__card($top: 231px, $left: 542px)

 }
 .gameplay__card7 {
  @include place__card($top: 231px, $left: 746px)

 }
 .gameplay__card8 {
  @include place__card($top: 383px, $left: 134px)

 }
 .gameplay__card9 {
  @include place__card($top: 383px, $left: 338px)

 }
 .gameplay__card10 {
  @include place__card($top: 383px, $left: 542px)

 }
 .gameplay__card11 {
  @include place__card($top: 383px, $left: 746px)

 }
 .gameplay__card12 {
  @include place__card($top: 535px, $left: 134px)

 }
 .gameplay__card13 {
  @include place__card($top: 535px, $left: 338px)

 }
 .gameplay__card14 {
  @include place__card($top: 535px, $left: 542px)

 }
 .gameplay__card15 {
  @include place__card($top: 535px, $left: 746px)

 }