.Menu {
  background-image: url("/screens/img/Menu.png");
  width: 1366px;
  height: 750px;
  margin-left: 80px;
}

.Menu__play {
  position: absolute;
  background-image: url("/screens/img/Play.png");
  width: 255px;
  height: 65px;
  top: 500px;
  left: 625px;
  border-radius: 10px;
  
  
}

.Menu__credit {
  position: absolute;
  background-image: url("/screens/img/credit_menu.png");
  width: 255px;
  height: 65px;
  top: 600px;
  left: 625px;
  border-radius: 10px;
  
  
}