.Menu {
  display: flex;
  justify-content: center;
  background-image: url('/screens/img/Menu.png');
  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.Menu__play {
  position: relative;
  background-image: url('/screens/img/Play.png');
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  top: 650px;
  left: 40vw;
}